<%- include('../../partials/header.ejs')  %>

<body class="background-color">
    <%- include('../../partials/navbar.ejs')  %>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 mt-2">

                <div class="card mt-1">

                    <div class="card-header">
                        <h1 class="mt-3">Editar artigo</h1>
                    </div>
    
                    <form method="POST" action="/articles/update" class="card-body" enctype="multipart/form-data">
                        <div class="form-group">
                            
                            <input type="hidden" name="id" value="<%= article.id %>">

                            <label for="articletitle">Título:</label>
                            <input id="articletitle" value="<%= article.title %>" class="form-control" type="text" name="title" placeholder="Insira aqui o nome do artigo">
                            
                            <label class="mt-2" for="articleresume">Resumo:</label>
                            <textarea class="form-control mb-1" name="resume" id="articleresume" cols="30" rows="5" placeholder="Insira aqui resumo do seu artigo"><%= article.resume %></textarea>

                            <div class="border p-2 mt-2">
                                <label for="bg-image">Selecione uma imagem de capa:</label>
                                <input type="file" class="form-control-file" id="bg-image" name="image" <% if (article.image) { %> value="/tmp/<%= article.image %>" <% } %>>
                                
                                
                                <% if(article.image){ %>
                                    
                                    <p class="p-0 m-0 mt-2">Imagem atual:</p>
                                    <img id="actual-image" src="/tmp/<%= article.image %>" style="max-width: 200px;" class="img-fluid" alt="Imagem de capa atual"> 
                                <% } %>
                            </div>
                            
                            <label class="mt-2" for="articlebody">Conteúdo:</label>
                            <textarea  class="form-control mb-1" name="body" id="articlebody" cols="30" rows="10" placeholder="Insira aqui o seu artigo"></textarea>
                            
                            <label class="mt-2" for="articlecategory">Selecione uma categoria</label>
                            <select name="category" id="articlecategory" class="form-control">
                                
                                <% categories.forEach((category) => { %>

                                    <%#Verifica qual é a categoria selecionada %>
                                    <% if(category.id == article.categoryId){ %>
                                        
                                        <option value="<%= category.id %>" selected><%= category.title %></option>
                                        
                                    <% }else{ %>
                                            
                                        <option value="<%= category.id %>"><%= category.title %></option>
                                    <% } %>

                                <% }); %>

                            </select>

                        </div>
    
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                        <a href="/admin/articles/" class="btn btn-secondary">Voltar</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div id="content" style="display: none;"><%- article.body %></div>

    <%- include('../../partials/footer.ejs') %>
    <script src="/tinymce/tinymce.min.js"></script>
    <%#JS PADRÃO %>
    <script src="/js/app.js"></script>
</body>
