<%- include('../../partials/header.ejs')  %>

<body class="background-color">

    <%- include('../../partials/navbar.ejs')  %>

    <div class="container mb-5">
        <div class="row">
            <div class="col-12 mt-2">
                <hr>
                <h1>Categorias</h1>
                <hr>
                <a href="/admin/categories/new" class="btn btn-success mb-2">Criar nova categoria</a>
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% categories.forEach(category => { %>

                            <tr class="text-center">

                                <th><%= category.id %></th>
                                <th><%= category.title %></th>
                                <th><%= category.slug %></th>
                                <th class="text-center">
                                    <%# Edit %>
                                    <a href="/admin/categories/edit/<%= category.id %>" style="background-color: transparent; cursor: pointer; border: none;">✏️</a>
                                
                                    <%# Delete %>
                                    <form action="/categories/delete" method="POST" style="display: inline;" onsubmit="confirmarDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= category.id %>">
                                        <input type="hidden" name="title" value="<%= category.title %>">
                                        <button style="background-color: transparent; cursor: pointer; border: none;">❌</button>
                                    </form>
                                    
                                </th>
                                
                            </tr>

                        <% }); %>

                    </tbody>
                </table>
                <hr>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs')  %>
    <%#JS PADRÃO %>
    <script src="/js/app.js"></script>
</body>