<%- include('partials/header.ejs')  %>

<body class="background-color">

    <%- include('partials/navbarhome.ejs')  %>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <div class="jumbotron">
                    <h1 class="display-4">Boas vindas ao Blog Node.js!</h1>
                    <p class="lead">Aqui você acessa as notícias quentinhas, direto do forno para a sua tela!</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt rem necessitatibus, cum ipsam consequatur ullam! Aut quibusdam, porro incidunt voluptate molestiae sint consectetur, iure natus dolores dolorum itaque dolorem?</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Nosso discord</a>
                    </p>
                </div>
                <hr>

                <% articles.forEach(article => { %>
                            
                    <div class="card mt-3">
                        <div class="card-header">
                            <h2><%= article.title %></h2>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-xl-4 col-sm-12 col-md-12">
                                    <a href="/<%= article.slug %>"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" class="img-thumbnail" alt="<%= article.slug %>">
                                    </div></a>

                                <a href="/<%= article.slug %>" class="col-xl-8 link-dark col-sm-12 col-md-12">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quae odit optio, eveniet incidunt odio sed atque non? Veritatis optio assumenda laboriosam mollitia at est sapiente dolor consectetur tempore quia.
                                </a>
                            </div>
                        
                        </div>
                    </div>
                    <hr>
                <% });%>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')  %>
    <%#JS PADRÃO %>
    <script src="/js/app.js"></script>
</body>
