<%- include('partials/header.ejs')  %>

<body class="background-color">

    <%- include('partials/navbarhome.ejs')  %>

    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <hr>
                <div class="jumbotron bg-dark" style="color: rgba(245, 245, 245, 0.857) !important">
                    <h1 class="display-4">Boas vindas ao <span style="color: #44883e; font-weight: 400;">Blog Node.js!</span></h1>
                    <p class="lead">Aqui você acessa as notícias quentinhas, direto do forno para a sua tela!</p>
                    <hr class="my-4">
                    <p>Agora temos também uma comunidade para te manter sempre informado das novidades que rolam por aí! Clique no link abaixo para acessar o nosso servidor no discord para se manter sempre atualizado! Encontramos você lá!</p>
                    <p class="lead">
                        <a class="btn btn-lg discord" href="#" role="button">Nosso discord</a>
                    </p>
                </div>
                <hr>

                <% articles.forEach(article => { %>
                            
                    <div class="card mt-3">
                        <div class="card-header">
                            <h2><%= article.title %></h2>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-xl-4 col-sm-12 col-md-12">
                                    
                                    <% if(article.image != null){ %>

                                        <a href="/<%= article.slug %>"><img src="/tmp/<%=article.image %>" class="img-thumbnail img-fluid" alt="<%= article.slug %>">

                                    <% }else{ %>

                                        <a href="/<%= article.slug %>"><img src="/images/article.jpg" class="img-thumbnail img-fluid" alt="<%= article.slug %>">     
                                    <% }%>
                                    
                                    </div></a>

                                <a href="/<%= article.slug %>" class="col-xl-8 link-dark col-sm-12 col-md-12">
                                    <%= article.resume %>
                                </a>
                            </div>
                        
                        </div>
                    </div>
                    <hr>
                <% });%>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')  %>
    <%#JS PADRÃO %>
    <script src="/js/app.js"></script>
</body>
